#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


.cat-header {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.cat-header.visible {
  opacity: 1;
}

.cat-header.hidden {
  opacity: 0;
}